* {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  -ms-border-sizing: border-box;
  box-sizing: border-box;
}

* {
   outline: 1px solid red !important;
}


.description {
  max-width: 460px;
}

.screenshot {
  max-width: 720px;
}

.app {
  display: flex;
}
