<div class="row col-12 m-0 p-0 justify-content-between header align-items-center border-bottom bg-light">
  <div class="col-4"><span routerLink="/projects" class="fa fa-cubes fa-2x" style="outline: none;cursor: pointer;">ProTracker</span>
  </div>
  <div class="col-8">
    <div class="row col-12 justify-content-end">
      <a class="nav-link" routerLink="/home" routerLinkActive="menu-item-active" style="color: black;width:65px;">HOME</a>
      <a class="nav-link" routerLink="/projects" routerLinkActive="menu-item-active" style="color: black;width: 82px;">PROJECT</a>
      <a class="nav-link" routerLink="/admin" routerLinkActive="menu-item-active" style="color: black;width: 75px;">ADMIN</a>
    </div>
  </div>
</div>
