img {
    width: 100%;
    height: 30%;
}

.button-settings {
    margin-top: 5px;
    margin-left: 20%;
}

.card-style {
    background-color: lightblue;
    height: 50%;
}

.card-text {
    display: inline-block;
    margin-right: 10%;
    margin-left: 10%;
}

.grey-ico {
    color: darkslategray;
}