<div class="container contact-form">
  <form  role="form" [formGroup]="Configuration">
    <h4 class="mt-3">{{title}} </h4>
    <div class="row mt-3">
      <div class="form-group ml-2" style="display: -webkit-box;">
        <div class="lable" style="margin-top: 5px;">ADD NEW : </div>
        <select class="form-control ml-2" formControlName="projectCode" style="width: 200px;" [(ngModel)]="selection">
            <option>Project Code</option>
            <option>Location</option>
            <option>Project Status</option>
          </select>
      </div>
      <div class="col-12">
        <div class="row m-0 p-0">
          <div class="form-group">
            <span class="lable">Enter {{selection}} :   </span>
            <input type="text" required class="form-control" placeholder={{selection}} formControlName="Code" style="width: 300px;" />
          </div>
          <div class="form-group ml-5">
            <span class="lable">{{selection}} Description :   </span>
            <textarea class="form-control" placeholder="Description" style="width: 400px; height: 118px;" formControlName="ProjectDesc"
              [(ngModel)]="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row col-12 mt-5 justify-content-center">
        <button type="button" class="btn btn-success" (click)="save()" [disabled]="!Configuration.valid">Create {{selection}}</button>
        <!--<button type="button" class="btn btn-danger ml-3">Cancel</button>-->
      </div>
    </div>
  </form>
</div>